* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-y: auto; /* scrolling allowed */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome/Edge/Safari */
}

#navbar-section {
  display: flex;
  width: 92px;
  justify-content: space-between;
  width: 100%;
  padding: 16px 120px;
  background-color: #fff;
  align-items: center;
}
#navbar-section ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  /* font-size: 16px; */
}
#navbar-section ul a {
  text-decoration: none;
  color: black;
}
.btn {
  /* font-size: 16px; */
  padding: 12px 16px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
.banner {
  padding: 70px 120px 225px 120px;
  /* width: 11; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  gap: 16px;
  color: white;
}
.banner .early-access {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 1000px;
  background-color: white;
  max-width: 229px;
}
.banner .early-access-logo {
  width: 16px;
  height: 16px;
  background-color: rgba(70, 145, 101, 0.4);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.banner .early-access-logo div {
  width: 12px;
  height: 12px;
  background: rgba(70, 145, 101, 0.4);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.banner .early-access-logo div div {
  width: 6px;
  height: 6px;
  background-color: rgb(70, 145, 101);
  border-radius: 50%;
}
.early-access .early-access-text {
  color: #30b868;
}

.banner h1 {
  font-size: 72px;
  opacity: 90%;
  text-align: center;
}
.banner h1 span {
  color: #30b868;
}
.banner p {
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 16px;
}
.banner-buttons {
  display: flex;
  gap: 16px;
}
.banner-buttons .banner-btn-2 {
  background-color: transparent;
  border: 1px solid white;
}
.banner-buttons .banner-btn-2 .fa-play {
  margin-right: 6px;
}
.banner-buttons .banner-btn-1 {
  display: flex;
  gap: 8px;
  align-items: center;
}
.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 120px 30px 120px;
}
.notes h2 {
  font-size: 48px;
  margin-bottom: 16px;
  color: #001931;
}
.notes p {
  color: #627382;
  margin-bottom: 44px;
}
.card-container {
  display: flex;
  gap: 24px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px 24px;
  box-shadow: 0 0 5px 2px #eee;
  width: 322px;
  height: 300px;
  gap: 14px;
}
.card img {
  background-color: #f95555;
  color: white;
  border-radius: 50%;
  /* height: 60px;
  width: 60px; */
  padding: 14px;
  margin-top: 31px;
}
.card h3 {
  font-size: 24px;
  color: #001931;
}
.second-brain,
.second-early-access {
  padding: 120px;
}
.second-brain-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.second-brain-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.second-brain-text > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.second-brain-text h3 {
  text-transform: uppercase;
  color: #30b868;
  font-size: 16px;
  font-weight: 600;
}
.second-brain-text h2 {
  color: #001931;
  font-size: 48px;
}
.second-brain-text p {
  color: #627382;
  line-height: 20px;
}
.second-brain-text ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.second-brain-text ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 20px;
}

.second-early-access {
  padding-top: 0;
}

.second-early-access-container {
  width: 100%;
  background-color: rgba(237, 237, 237, 0.375);
  padding: 120px 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.second-early-access-container h2 {
  font-size: 43px;
  color: #001931;
}
.second-early-access-container p {
  color: #627382;
  line-height: 24px;
}
.second-early-access-container button.btn {
  display: flex;
  gap: 10px;
}
